.editor {
  display: flex;

  &__wrapper {
    border: 1px solid $border-color;
  }

  &__attributes {
    width: 240px;
    padding: 8px;
    margin-left: 1px;
    border: 1px solid $border-color;

    &__actions {
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin-bottom: 8px;
    }
  }
}
